__pycache__/
*.py[cod]
*$py.class
/exports/*
!/exports/.gitkeep
/data_configs/*
!/data_configs/.gitkeep
/models/*
!/models/.gitkeep
/custom_models/*
!/custom_models/example_models.py
/custom_metrics/*
!/custom_models/example_metrics.py
/custom_losses/*
!/custom_models/example_losses.py
